<html>
  <head>
    <meta charset="UTF-8" />
    <title>サーバー表示ウィンドウ</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style-server.css" />
  </head>
  <body>
    <form id="requestForm">
      <input type="hidden" id="dispSort" name="dispSort" value="<%=dispSort%>" />
      <input type="hidden" id="wordBreak" name="wordBreak" value="<%=wordBreak%>" />
      <input type="hidden" id="port" name="port" value="<%=port%>" />
    </form>
    <div id="parent">
      <ul id="res-list">
        <li>
          <span class="icon"> </span>
          <span class="name">
            <%=initMessage%>
          </span>
          <span class="res"> </span>
        </li>
      </ul>
    </div>
    <script src="./js/readThread.js"></script>
  </body>
</html>
