<html>
<head>
  <meta charset="UTF-8">
  <title>サーバー表示ウィンドウ</title>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
  <ul id="res-list">
    <li>
      <span class="icon">

      </span>
      <span class="name">
        名無し
      </span>
      ：
      <span class="res">
        これはダミー文字列どす
      </span>
    </li>
  </ul>

  <script src="./js/readThread.js">
  </script>
</body>
</html>
