<html>
<head>
  <meta charset="UTF-8">
  <title>サーバー表示ウィンドウ</title>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
  <form id="requestForm">
    <input type="hidden" id="threadUrl" name="threadUrl" value="http://jbbs.shitaraba.net/bbs/read.cgi/radio/31003/1571673903/" >
    <input type="hidden" id="resNumber" name="resNumber" value="" >
    <input type="hidden" id="interval" name="interval" value="5000" >
  </form>
  <ul id="res-list">
    <li>
      <span class="icon">

      </span>
      <span class="name">
        名無し
      </span>
      ：
      <span class="res">
        これはダミー文字列どす
      </span>
    </li>
  </ul>

  <script src="./js/readThread.js">
  </script>
</body>
</html>
