.maincontaints {
  padding: 5px 1em 5px 1em;
}
.block {
  border-radius: 10px;
  padding: 10px;
  border: solid 1px lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
}

input:disabled {
  background-color: lightgray;
}

.disabled {
  background-color: lightgray;
}

h5 {
  margin: 0px;
  font-weight: bold;
}

.subtitle {
  margin: 0px;
  font-weight: bold;
}

.caption {
  font-size: 11px;
}

.mdl-textfield {
  padding: 10px 0;
}

.labeledInputArea {
  display: flex;
  align-items: center;
}

.labeledInputArea > span {
  margin-right: 5px;
  color: darkgray;
}

.status {
  font-size: small;
  color: gray;
}

.status-label {
  font-weight: bold;
  margin-right: 0.3em;
}
